<h2>Login</h2>
<form action="/login" method="post">
    <div>
      <label for="username">Username:</label>
      <input id="username" type="text" name="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" name="password">
    </div>
    <div>
      <input type="submit" value="Login">
    </div>
</form>
<p>
  <a href="/signup">Create an Account &rarr;</a>
  <h2 style='display: none;' class='error'>Username/password entered is incorrect.</h2>
<p>

<script>
    var urlParams = new URLSearchParams(window.location.search);
    const errCode = Number(urlParams.get('errcode'));
    console.log(typeof errCode);
    if (errCode === 2) {
      $('.error').attr('style', 'display: block');
    }
  </script>