<h2>Sign up</h2>
<form action="/signup" method="post">
    <div>
      <label for="username">Username:</label>
      <input id="username" type="text" name="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input id="password" type="password" name="password">
    </div>
    <div>
      <input type="submit" value="Sign up">
    </div>
</form>
<p>
  <a href="/login">Login to your account &rarr;</a>
  <h2 style='display: none;' class='error'>Username already exists!</h2>
<p>

  <script>
    var urlParams = new URLSearchParams(window.location.search);
    const errCode = Number(urlParams.get('errcode'));
    console.log(typeof errCode);
    if (errCode === 1) {
      $('.error').attr('style', 'display: block');
    }
  </script>
